@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Organigrama de PEMEX</h1>
    <p>Haga doble clic sobre un elemento para expandirlo o contraerlo.</p>
</div>
<div id="empChart" style="display: inline-block; margin: 0 auto;">
</div>
<input type="button" id="btnLoadChart" class="btn btn-lg btn-success" value="Cargar Organigrama" />
