<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Organigrama PEMEX</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/pemexStyle.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Organigrama PEMEX</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - PEMEX - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacidad</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["orgchart"] });

        $('#btnLoadChart').click(function () {
            drawEmpChart();
        });

        function drawEmpChart() {

            $.ajax({
                type: "POST",
                url: "Home/GetEmpChartData",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (empData) {

                    var chartData = new google.visualization.DataTable();

                    chartData.addColumn('string', 'Nombre');
                    chartData.addColumn('string', 'Jefe');
                    chartData.addColumn('string', 'Puesto');

                    var html_col_row_I = '<div class="row"><div class="col">';
                    var html_col_row_F = '</div></div>';
                    var html_col_row_15rem = '<div class="row"><div class="col" style="font-weight: bold;font-size: 1.5em;">';
                    var html_icon_person = '<div class="row"><div class="col"><i class="fa fa-user fa-3x"></i></div></div>';

                    $.each(empData, function (index, row) {
                        var jefe = row.jefe.toString() == "0" ? '' : row.jefe.toString();
                        var antiguedad = 'Antigüedad: ' + row.antig_anios.toString() + ' Años, ' + row.antig_dias.toString() + ' Días';
                        chartData.addRows([[{
                            v: row.id.toString(),
                            f: html_icon_person + html_col_row_15rem + row.desc_dpto + html_col_row_F + html_col_row_I + 'Nombre: ' + row.nombres + html_col_row_F + html_col_row_I + '<div style="font-style:italic">Puesto: ' + row.puesto + '</div>' + html_col_row_F + html_col_row_I + 'Nivel: ' + row.nivel.toString() + html_col_row_F + html_col_row_I + '<div style="font-size: 1em;">Ficha: ' + row.id + '</div>' + html_col_row_F + html_col_row_I + '<div style="font-size: 1em;">' + antiguedad + '</div>' + html_col_row_F + html_col_row_I + '<div style="font-size: 1em;">Región: ' + row.region + '</div>' + html_col_row_F
                        }, jefe, row.puesto]]);
                    });

                    var chart = new google.visualization.OrgChart($("#empChart")[0]);
                    chart.draw(chartData, { allowHtml: true, allowCollapse: true, size: 'medium', nodeClass: 'node', selectedNodeClass: 'selectedNode'});

                    for (var i = 0; i < chartData.getNumberOfRows(); i++) {
                        chart.collapse(i, true);
                    }
                },
                failure: function (xhr, status, error) {
                    alert("Failure: " + xhr.responseText);
                },
                error: function (xhr, status, error) {
                    alert("Error: " + xhr.responseText);
                }
            });
        }
    </script>
    <style>
        .node {
            background: #12533b;
            border-radius: 10px;
            color: white;
            min-width: 250px;
            box-shadow: 0 1rem 3rem rgba(0,0,0,0.5) !important;
        }

        .selectedNode {
            border: 2px solid #363636;
            background: #9e2244;
            border-radius: 10px;
        }

        .google-visualization-orgchart-lineleft {
            border-left: 2px solid black;
        }

        .google-visualization-orgchart-lineright {
            border-right: 2px solid black;
        }

        .google-visualization-orgchart-linebottom {
            border-bottom: 2px solid black;
        }
    </style>
    @RenderSection("Scripts", required: false)
</body>
</html>
